@using CRM.Application.Core.Resources.Customers
@using CRM.Application.Core.Resources.TimeRegistrations
@{
    Layout = null;
}
<div class="panel-group smart-accordion-default" id="accordion-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-2" href="#collapseOne-1" aria-expanded="false" class="collapsed"> <i class="fa fa-fw fa-plus-circle txt-color-green"></i> <i class="fa fa-fw fa-minus-circle txt-color-red"></i>@TimeReg.Create</a></h4>
        </div>
        <div id="collapseOne-1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group" style="padding-bottom: 6px ; height: 100%">
                            <div class="input-group-addon">@TimeReg.Customer</div>
                            <select onchange="customerFormChange(this)" ; style="width: 100% !important" class="select2" id="customerFormSelect">
                                <option value="null">-</option>
                            </select>
                        </div>
                    </div>
                        <div class="col-md-6">
                            <div class="input-group" style="padding-bottom: 6px ;height: 100%">

                                <div class="input-group-addon">@Customer.Case</div>
                                <select class="select2" id="caseFormSelect"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="timeRegDescription">@TimeReg.Description</label>
                                <textarea class="form-control" id="timeRegDescription" placeholder="@TimeReg.TimeRegistration @TimeReg.Description" rows="5" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="timeRegEnd">@TimeReg.TimeRegistration @TimeReg.Start</label>
                            <input id="timeRegStart" placeholder="@TimeReg.Start @TimeReg.Date" class="form-control" type="text">
                        </div>
                        <div class="col-md-6">
                            <label for="timeRegEnd">@TimeReg.TimeRegistration @TimeReg.End</label>
                            <input id="timeRegEnd" placeholder="@TimeReg.TimeRegistration @TimeReg.End" class="form-control" type="text">
                        </div>
                    </div>
                </div>
            <div class="modal-footer">
                <div>
                   <button type="button" data-loading-text="@TimeReg.Saving..." class="btn btn-primary" id="saveTimeRegBtn">
                        Create
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="~/Scripts/plugin/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/Scripts/plugin/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/plugin/locale/da.js"></script>
<script type="text/javascript">

    function clearTimeRegForm() {
        $("#timeRegDescription").val("");
        $("#timeRegStart").val("");
        $("#timeRegEnd").val("");
    }

    $(document).ready(function () {
        debugger;
        $("#timeRegStart").datetimepicker({
            locale: "@TimeReg.locale",
            sideBySide: true
        });
        $("#timeRegEnd").datetimepicker({
            locale: "@TimeReg.locale",
            sideBySide: true,
        });

        $("#timeRegEnd").on("dp.change",
            function(e) {
                $("#timeRegStart").data("DateTimePicker").maxDate(e.date);
            });

        $("#timeRegStart").on("dp.change",
            function(e) {
                $("#timeRegEnd").data("DateTimePicker").minDate(e.date);
            });

        loadCustomers();
    });

    $("#saveTimeRegBtn").click(function () {
        debugger
        var $btn = $(this).button("loading");
        var customerId = parseInt($('#customerFormSelect').val());
        var caseId = parseInt($('#caseFormSelect').val());
        var startTime = $("#timeRegStart").data("DateTimePicker").date().toISOString();
        var endTime = $("#timeRegEnd").data("DateTimePicker").date().toISOString();
        const timeReg = {
            "Id": null,
            "IsActive": false,
            "Description": $("#timeRegDescription").val(),
            "UserId": $("#hiddenUserId").val(),
            "CustomerCaseId": caseId
        };
        $.ajax({
            url: "/Timeregistration/CreateCaseTimeReg",
            type: "Post",
            data: { 'timeReg': timeReg, "CustomerId": customerId, "startTime": startTime, "endTime": endTime },
            success: function (data) {
                $btn.button("reset");

                toastr.success("Saved");
                getTimeRegtable($("#hiddenUserId").val());
                if (typeof clearTimeRegList === "function") {
                    clearTimeRegList();
                }
                clearTimeRegForm();
            },
            error: function () {
                $btn.button("reset");
                toastr.error("Saving failed");
            }
        });
    });

    function loadCustomers() {
        $.ajax({
            url: "/Home/GetCustomerList",
            type: "Post",
            data: {},
            success: function (data) {
                
                var list = data.customersList;
                $('#customerFormSelect').select2('data', null);
                $('#customerFormSelect').empty();
                $.each(list, function(e, i) {
                    var newOption = new Option(i.CompanyName, i.Id, false, false);
                    $('#customerFormSelect').append(newOption).trigger('change');
                });
                
            },
            error: function(data) {

            }
        });
    }

    function customerFormChange(e) {
        var id = e.value;
        $.ajax({
            url: "/Home/GetCustomerCaseList",
            type: "Post",
            data: { "id": id },
            success: function (data) {
                
                var list = data.customerCasesList;
                $('#caseFormSelect').select2('data', null);
                $('#caseFormSelect').empty();
                $.each(list, function(e, i) {
                    var newOption = new Option(i.Titel, i.Id, false, false);
                    $('#caseFormSelect').append(newOption).trigger('change');
                });

                if ($("#caseFormSelect option:contains('Generel')").length) {
                    $('#caseFormSelect').val($("#caseFormSelect option:contains('Generel')").val()).trigger('change');
                } else { 
                    // Create a DOM Option and pre-select by default
                    var newOption = new Option("Generel", null, true, true);
                    // Append it to the select
                    $('#caseFormSelect').append(newOption).trigger('change');
                } 
            },
            error: function(data) {

            }
        });
    }

</script>