@model IEnumerable<CRM.Models.ApplicationControllerCategory>

<!-- MAIN CONTENT -->
<div id="content">



    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@CRM.Application.Core.Resources.Administration.Role.PagesRoles </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="panel-group smart-accordion-default" id="accordion-2">
                                @{ bool firstAccordion = true;}
                                @foreach (var category in Model)
                                {
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-2" href="@("#collapseOne-"+ category.Id)"> <i class="fa fa-fw fa-plus-circle txt-color-green"></i> <i class="fa fa-fw fa-minus-circle txt-color-red"></i> @category.Name</a></h4>
                                        </div>
                                        <div id="@("collapseOne-"+ category.Id)" class="panel-collapse @(firstAccordion? "collapse in" : "collapse") ">
                                            <div class="panel-body">
                                                <table id="user" class="table table-bordered table-striped" style="clear: both">
                                                    <tbody>
                                                        @foreach (var controller in category.ApplicationControllers)
                                                        {
                                                            <tr>
                                                                <td style="width:35%;">@controller.DisplayName</td>
                                                                <td>
                                                                <a href="@Url.Action("AssignControllerRole","Roles", new {controllerId = controller.Id })" id="" title="User Roles" class="delete"><i class="fa fa-users"></i></a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    firstAccordion = false;
                                }
                            </div>
                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>
            <!-- END COL -->

        </div>


    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
