@model CRM.Application.Core.ViewModels.OrderViewModel
<form id="createOrderForm" class="smart-form">
    @Html.HiddenFor(x => x.Id, new { @id = "OrderId" })
    @Html.HiddenFor(x => x.CustomerId, new { @id = "hiddenCustomerId" })
    <fieldset>
        <h2>@CRM.Application.Core.Resources.Orders.Order.OrderInfo</h2>
        <div class="row">
            <section class="col col-4">
                <label for="customer" class="select">
                    @CRM.Application.Core.Resources.Customers.Customer.CompanyName
                    <select class="form-control" id="CustomerSelect" placeholder="*">
                        <i class="icon-prepend fa fa-user"></i>
                        @foreach (var co in Model.CustomerOptions)
                        {
                            <option customer-id="@co.Id" Text="@co.Text">@co.Text</option>
                        }
                    </select>
                    @Html.ValidationMessageFor(x => x.CustomerId, null, new { @class = "invalid validation" })
                </label>
            </section>
            <section class="col col-4">
                <label for="dispatchdate " class="input">
                    @CRM.Application.Core.Resources.Orders.Order.DispatchDate
                    <div class="input-group">
                        @Html.TextBoxFor(x => x.DispatchDate, new {
                            @placeholder = @String.Format("{0} {1}", @CRM.Application.Core.Resources.General.General.Select, @CRM.Application.Core.Resources.Orders.Order.DispatchDate),
                            @value = Model.DispatchDate.HasValue ? Model.DispatchDate.Value.ToShortDateString() : "",
                            @data_date_format = "dd/mm/yyyy",
                            @data_provide = "datepicker",
                            @class = "form-control"
                        })
                        <div class="input-group-addon">
                            <div class="input-group-prepend">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                </label>
                @Html.ValidationMessageFor(x => x.DispatchDate, null, new { @class = "invalid validation" })
            </section>
            <section class="col col-4">
                <label for="status" class="select">
                    @CRM.Application.Core.Resources.Orders.Order.Status
                    @Html.DropDownListFor(x => x.StatusId, new SelectList(Model.StatusOptions, "Id", "Name"), @CRM.Application.Core.Resources.Orders.Order.Status + " *")
                    @Html.ValidationMessageFor(x => x.StatusId, null, new { @class = "invalid validation" })
                    <i></i>
                </label>
            </section>
        </div>
    </fieldset>
    <fieldset>
        <h2>@CRM.Application.Core.Resources.Orders.Order.DeliveryAddress</h2>
        <div class="row">
            <section class="col col-6">
                <label class="input">@CRM.Application.Core.Resources.Orders.Order.Address_Street</label>
                <label class="label">
                    <i class="icon-prepend fa fa-truck"></i>
                    @Html.TextBoxFor(x => x.DeliveryStreet, new { @placeholder = CRM.Application.Core.Resources.Orders.Order.Address_Street + " *" })
                    @Html.ValidationMessageFor(x => x.DeliveryStreet, null, new { @class = "invalid validation" })
                </label>
            </section>
            <section class="col col-6">
                <label for="housenr" class="input">
                    @CRM.Application.Core.Resources.Orders.Order.Address_HouseNr
                    <i class="icon-prepend fa fa-truck"></i>
                    @Html.TextBoxFor(x => x.DeliveryHouseNr, new { @placeholder = CRM.Application.Core.Resources.Orders.Order.Address_HouseNr + " *" })
                    @Html.ValidationMessageFor(x => x.DeliveryHouseNr, null, new { @class = "invalid validation" })
                </label>
            </section>
            <section class="col col-6">
                <label for="postalcode" class="input">
                    @CRM.Application.Core.Resources.Orders.Order.Address_PostalCode
                    <i class="icon-prepend fa fa-truck"></i>
                    @Html.TextBoxFor(x => x.DeliveryPostalCode, "{0:#.#}", new { @placeholder = CRM.Application.Core.Resources.Orders.Order.Address_PostalCode + " *" })
                    @Html.ValidationMessageFor(x => x.DeliveryPostalCode, null, new { @class = "invalid validation" })
                </label>
            </section>
            <section class="col col-6">
                <label for="town" class="input">
                    @CRM.Application.Core.Resources.Orders.Order.Address_Town
                    <i class="icon-prepend fa fa-truck"></i>
                    @Html.TextBoxFor(x => x.DeliveryTown, new { @placeholder = CRM.Application.Core.Resources.Orders.Order.Address_Town + " *" })
                    @Html.ValidationMessageFor(x => x.DeliveryTown, null, new { @class = "invalid validation" })
                </label>
            </section>
        </div>
    </fieldset>
    <fieldset>
        <h2>@CRM.Application.Core.Resources.Orders.Order.Products</h2>
        @if (Model.Id != 0)
        {
            foreach (var item in Model.OrderItems)
            {

                <div class="row product orderProducts">
                    <input name="productId" type="hidden" value=@(item.ProductViewModel.Id)>
                    <section class="col col-6">
                        <div class="input">
                            <input name="product" class="productInput" type="text" placeholder="Write anything..." value=@(item.ProductViewModel.Name) />
                        </div>
                    </section>
                    <section class="col col-1">
                        <div class="input">
                            <input name="quantity" class="quantityInput" type="number" min="1" placeholder="Quantity" value=@(item.Quantity) />
                        </div>
                    </section>
                    <section class="col col-1">
                        <button type="button" class="btn btn-primary btn-sm editable-submit" style="display:none">
                            <i class="glyphicon glyphicon-ok"></i>
                        </button>
                        <button type="button" class="btn btn-default btn-sm editable-cancel">
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
                    </section>
                </div>
            }
        }
        <div class="row product orderProducts">
            <input name="productId" type="hidden" value="0">
            <section class="col col-6">
                <div class="input">
                    <input name="product" class="productInput" type="text" placeholder="Write anything..." />
                </div>
            </section>
            <section class="col col-1">
                <div class="input">
                    <input name="quantity" class="quantityInput" type="number" min="1" placeholder="Quantity" value="1" />
                </div>
            </section>
            <section class="col col-1">
                <button type="button" class="btn btn-primary btn-sm editable-submit">
                    <i class="glyphicon glyphicon-ok"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm editable-cancel" style="display:none">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
            </section>
        </div>
    </fieldset>
    <footer>
        @if (Model.Id == 0)
        {
            <button type="submit" id="btnSaveOrder" class="btn btn-primary">
                @CRM.Application.Core.Resources.General.General.Create
            </button>
        }
        else
        {
            <button type="submit" id="btnUpdateOrder" class="btn btn-primary">
                @CRM.Application.Core.Resources.General.General.Update
            </button>
        }
    </footer>
</form>
