@model CRM.Application.Core.ViewModels.EmailAccountViewModel
@using X.PagedList.Mvc;

<div class="dt-toolbar-footer">
    <div class="col-sm-6 col-xs-12 hidden-xs">
        <div class="dataTables_info" id="datatable_fixed_column_info" role="status" aria-live="polite">
            @CRM.Application.Core.Resources.DynamicTable.Pagination.Showing
            <span class="txt-color-darken" id="paginationFromNumber">@Model.PageNumber</span>
            @CRM.Application.Core.Resources.DynamicTable.Pagination.ToNumber.ToLower()
            <span class="txt-color-darken" id="paginationToNumber">@(Model.PageNumber * Model.PageSize)</span>
            @CRM.Application.Core.Resources.DynamicTable.Pagination.OfTotal.ToLower()
            <span class="text-primary" id="paginationTotalCount">@(Model.TableCount)</span>
            @CRM.Application.Core.Resources.DynamicTable.Pagination.Entries.ToLower()
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="dataTables_paginate paging_simple_numbers" id="datatable_fixed_column_paginate">
            @Html.PagedListPager(Model.EmailAccountsPL, page => null, new PagedListRenderOptions
            {
                LinkToNextPageFormat = "Next",
                LinkToPreviousPageFormat = "Previous",
                ActiveLiElementClass = "active",
                LiElementClasses = new string[] { "LiPager" },
                FunctionToTransformEachPageLink = (liTag, aTag) => { aTag.Attributes.Add("data-pageNumber", aTag.InnerHtml); liTag.InnerHtml = aTag.ToString(); return liTag; }
            })
        </div>
    </div>
</div>
