@model CRM.Application.Core.ViewModels.DashboardListsViewModel
<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h1 class="page-title txt-color-blueDark">

                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-pencil-square-o"></i>
                <a href="@Url.Action("Index","DashboardLists")">@CRM.Application.Core.Resources.Administration.DashboardLists.Lists</a>
                <span>
                    >
                    @CRM.Application.Core.Resources.Administration.DashboardLists.CreateDashboardList
                </span>
            </h1>
        </div>
    </div>
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"
                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>> @CRM.Application.Core.Resources.Administration.DashboardLists.CreateDashboardListForm</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body padding">
                            <form id="createListForm" class="smart-form">
                                @Html.HiddenFor(x => x.Id, new { id = "hiddenId" })
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="input">
                                                <i class="icon-prepend fa fa-user"></i>
                                                @Html.TextBoxFor(x => x.Name, new { @placeholder = CRM.Application.Core.Resources.Administration.DashboardLists.ListName })
                                            </label>
                                            @Html.ValidationMessageFor(x => x.Name, null, new { @class = "invalid validation" })
                                        </section>
                                        <section class="col col-6">
                                            <label class="input">
                                                <i class="icon-prepend fa fa-user"></i>
                                                @Html.TextBoxFor(x => x.Description, new { @placeholder = CRM.Application.Core.Resources.Administration.DashboardLists.ListDescription })
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                                <footer>
                                    <button type="submit" class="btn btn-primary">
                                        Save
                                    </button>
                                </footer>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->


                </div>


            </article>
            <!-- END COL -->
            <!-- NEW COL START -->
            <!-- END COL -->

        </div>

        <!-- END ROW -->

    </section>



</div>
<!-- END MAIN CONTENT -->
<script src="~/Scripts/CRM/DashboardLists/CreateList.js"></script>
<script src="~/Scripts/CRM/General/Response.js"></script>
<script src="~/Scripts/CRM/Enum/TransactionType.js"></script>