<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@CRM.Application.Core.Resources.Customers.Customer.Customers </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <form id="uploadCustomerForm" class="smart-form">
                                <div id="waitMeContainer">
                                    <fieldset>
                                        <div class="row">
                                            <section class="col col-6">
                                                <div class="form-group">
                                                    <div class="fileUpload btn btn-primary col-md-3 col-lg-4">
                                                        <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                                        <span>Upload Customers</span>
                                                        <input type="file" id="customersFileUpload1" name="customersFileUpload1" class="fileUploadButton" multiple=""><br />
                                                    </div>
                                                    <p class="help-block pull-left">
                                                        @CRM.Application.Core.Resources.Customers.Customer.UploadFromExcelFiles
                                                    </p>
                                                </div>

                                            </section>

                                        </div>
                                        <div class="row">
                                            <section class="col col-6">
                                                <p class="help-block pull-left">
                                                    @CRM.Application.Core.Resources.Customers.Customer.DownloadExcelFile:
                                                </p>
                                                <div class="form-group">
                                                    <div data-language="dk" class="btn btn-primary col-md-3 col-lg-4 pull-right downloadFile">
                                                        <img class="flag flag-dk" src="/Content/img/blank.gif" />
                                                        @CRM.Application.Core.Resources.Customers.Customer.DanishFile
                                                    </div>
                                                    <p></p>
                                                    <div data-language="en" class="btn btn-primary col-md-3 col-lg-4 pull-right downloadFile">
                                                        <img class="flag flag-us" src="/Content/img/blank.gif" />
                                                        @CRM.Application.Core.Resources.Customers.Customer.EnglishFile
                                                    </div>

                                                </div>
                                            </section>
                                        </div>
                                    </fieldset>
                                </div>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
        <!-- end row -->
    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
<link href="~/Scripts/plugin/waitMe/waitMe.min.css" rel="stylesheet" />
<script src="~/Scripts/plugin/waitMe/waitMe.min.js"></script>
<script src="~/Scripts/CRM/UploadCustomers/UploadCutomers.js"></script>